In [3]:
import pandas as pd
import numpy as np

In [4]:
# Importando o dataset
df = pd.read_csv("adult.data.csv")

In [43]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
# How many of each race is represented
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [7]:
# Average age of men
round(df.loc[df['sex'] == 'Male']['age'].mean(), 1)

39.4

In [23]:
# Percentage of people with Bachelor degree
round(((df['education'] == 'Bachelors').sum() / len(df)) * 100, 1)

16.4

In [53]:
# percentage of people with advanced education that make more than 50k
df_high_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
round(((df_high_education['salary'] == '>50K').sum() / len(df_high_education)) * 100, 1)

46.5

In [37]:
# the isin() method is useful when we need to check more than one value in a specific column
df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])

0         True
1         True
2        False
3        False
4         True
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: education, Length: 32561, dtype: bool

In [54]:
# percentage of people with lower education that make more than 50k
df_low_education = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
round(((df_low_education['salary'] == '>50K').sum() / len(df_low_education)) * 100, 1)

17.4

In [55]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [61]:
# Minimum number of hours per week a person work
df['hours-per-week'].min()

1

In [71]:
# Percentage of the people that work 1 hour per week that have a salary > 50K
df_min_hours = df.loc[df['hours-per-week'] == 1]
round(((df_min_hours['salary'] == '>50K').sum() / len(df_min_hours)) * 100, 0)

10.0

In [77]:
# Country that have the highest percentage of people that earn > 50K
df.loc[df['native-country'] == 'United-States']['salary'].value_counts()

<=50K    21999
>50K      7171
Name: salary, dtype: int64

In [102]:
countries = df['native-country'].unique()
percentage_country = {}

for country in countries:
    df_aux = df.loc[df['native-country'] == country]
    percentage = round(((df_aux['salary'] == '>50K').sum() / len(df_aux)) * 100, 1)
    percentage_country[country] = percentage


# Return the key that contains the max value
max_country = max(percentage_country, key=percentage_country.get)
max_value = percentage_country[max_country]

max_country, max_value

('Iran', 41.9)

In [113]:
# Most popular occupation for people that earn more than 50k in India
df1 = df.loc[df['native-country'] == 'India']
df2 = df1.loc[df1['salary'] == '>50K']
df2['occupation'].value_counts().idxmax()

'Prof-specialty'

In [114]:
# The idxmax() function returns the index of the max value in a series
df2['occupation'].value_counts().idxmax()

'Prof-specialty'